<div class='key_input_container'>
    <div class='auth__description'>{{description}}</div>
    <div>
        <span class='auth_label'><label for='input_apiKey_entry'><span>Api key</span> in {{in}}</label></span>
        <span class='auth_in'><label for='input_apiKey_entry'>{{name}} =</label></span>
        {{#if isLogout}}
            <span class="auth_label">{{value}}</span>
        {{else}}
            <input placeholder='api_key' class='auth_input input_apiKey_entry' name='apiKey' type='text'/>
        {{/if}}
    </div>
</div>
