<label data-sw-translate for="{{{escape contentTypeId}}}">Response Content Type</label>
<select name="contentType" id="{{{escape contentTypeId}}}">
{{#if produces}}
  {{#each produces}}
	<option value="{{{sanitize this}}}">{{{sanitize this}}}</option>
	{{/each}}
{{else}}
  <option value="application/json">application/json</option>
{{/if}}
</select>
