	{{#if currentValue}}
		<option selected value="{{currentValue}}">{{currentValue}}</option>
	{{else}}
		<option disabled selected> -- select an option -- </option>
	{{/if}}
	{{#each unexpandedFields}}
		<option value="{{this}}">{{this}}</option>
	{{/each}}