<div class='info' id='api_info'>
  {{#if info}}
  <div class="info_title">{{info.title}}</div>
  <div class="info_description">{{{info.description}}}</div>
  {{#if info.termsOfService}}<div class="info_tos"><a href="{{info.termsOfService}}">Terms of service</a></div>{{/if}}
  {{#if info.contact}}<div class='info_contact'><a href="mailto:{{info.contact.email}}">Contact the developer</a></div>{{/if}}
  {{#if info.license}}<div class='info_license'><a href='{{info.license.url}}'>{{info.license.name}}</a></div>{{/if}}
  {{/if}}
</div>
<div class='container' id='resources_container'>
  <ul id='resources'></ul>

  <div class="footer">
    <br>
    <br>
    <h4 style="color: #999">[ <span style="font-variant: small-caps">base url</span>: {{basePath}}
    {{#if info.version}}
    , <span style="font-variant: small-caps">api version</span>: {{info.version}}
    {{/if}}]
    {{#if validatorUrl}}
    <span style="float:right"><a href="{{validatorUrl}}/debug?url={{url}}"><img id="validator" src="{{validatorUrl}}?url={{url}}"></a>
    </span>
    {{/if}}
    </h4>
    </div>
</div>
