<div class='info' id='api_info'>
  {{#if info}}
    <div class="info_title">{{info.title}}</div>
    <div class="info_description">{{{info.description}}}</div>
    {{#if info.termsOfServiceUrl}}<div class="info_tos"><a href="{{info.termsOfServiceUrl}}">Terms of service</a></div>{{/if}}
    {{#if info.contact}}<div class='info_contact'><a href="mailto:{{info.contact}}">Contact the developer</a></div>{{/if}}
    {{#if info.license}}<div class='info_license'><a href='{{info.licenseUrl}}'>{{info.license}}</a></div>{{/if}}
  {{/if}}
</div>
<div class='container' id='resources_container'>
    <ul id='resources'>
    </ul>

    <div class="footer">
        <br>
        <br>
        <h4 style="color: #999">[ <span style="font-variant: small-caps">base url</span>: {{basePath}}
        {{#if apiVersion}}
        , <span style="font-variant: small-caps">api version</span>: {{apiVersion}}
        {{/if}}]</h4>
    </div>
</div>
