<div id="swagger_sidebar">
    <div class="sticky-nav-placeholder">
        <div class="sticky-nav">
            <div class="mobile-nav">
                <span class="select-label">API Reference: </span><span data-selected-value></span>
            </div>

            <div class="token-generator hide">
                <span data-close class="icon-budicon-471"></span>
                <label for="input-api-token">Url</label>
                <input type="text" autocorrect="off" class="form-control" id="input_baseUrl"
                       placeholder="http://example.com/api">

                <div class="scope-selector">
                    <label for="scopes">Token</label>

                    <div class="area controls">
                        <input type="text" autocorrect="off" class="form-control" id="input_apiKey"
                               placeholder="Enter api key or token">
                    </div>

                    <div class="area cta">
                        <div data-add-scope id="explore" class="btn"><span class="icon-budicon-519"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div data-navigator>
                <div data-resource="" label="Tools">
                    <div class="item" data-tg-switch="">Swagger resource <span class="status"></span></div>
                </div>
                <div id="resources_nav">
                </div>
            </div>

            <p class="changes-disclaimer">
                <span class='info' id='api_info'>
                    {{#if info}}
                        <span class="info_title">{{info.title}}</span>
                        <span class="markdown">{{{info.description}}}</span>
                    {{/if}}

                </span>

                <span class='info' id='api_info'>
                    {{#if info.contact.email}}
                        <span class='info_email'>
                            Contact: <a href="mailto:{{info.contact.email}}?subject={{info.title}}">{{info.contact.email}}</a>
                        </span><br><br>
                    {{/if}}
                </span>

                <span style="font-variant: small-caps">base url</span>: {{basePath}}
                {{#if info.version}}
                    <span style="font-variant: small-caps">api version</span>: {{info.version}}
                {{/if}}
            </p>
        </div>
    </div>
</div>

<div id='resources_container'>
    <ul id='resources' class="samples-collapsed"></ul>
</div>
