<div class='info' id='api_info'>
  {{#if info}}
  <div class="info_title">{{{sanitize info.title}}}</div>
  <div class="info_description markdown">{{{sanitize info.description}}}</div>
  {{#if externalDocs}}
  <p>{{{sanitize externalDocs.description}}}</p>
  <a href="{{{escape externalDocs.url}}}" target="_blank">{{{escape externalDocs.url}}}</a>
  {{/if}}
  {{#if info.termsOfServiceUrl}}<div class="info_tos"><a target="_blank" href="{{{escape info.termsOfServiceUrl}}}" data-sw-translate>Terms of service</a></div>{{/if}}
  {{#if info.contact.name}}<div><div class='info_name' style="display: inline" data-sw-translate>Created by </div> {{{escape info.contact.name}}}</div>{{/if}}
  {{#if info.contact.url}}<div class='info_url' data-sw-translate>See more at <a href="{{{escape info.contact.url}}}">{{{escape info.contact.url}}}</a></div>{{/if}}
  {{#if info.contact.email}}<div class='info_email'><a target="_parent" href="mailto:{{{escape info.contact.email}}}?subject={{{escape info.title}}}" data-sw-translate>Contact the developer</a></div>{{/if}}
  {{#if info.license}}<div class='info_license'><a target="_blank" href='{{{escape info.license.url}}}'>{{{escape info.license.name}}}</a></div>{{/if}}
  {{/if}}
</div>
<div class='container' id='resources_container'>
  <div class='authorize-wrapper'></div>

  <ul id='resources'></ul>

  <div class="footer">
    <h4 style="color: #999">[ <span style="font-variant: small-caps">base url</span>: {{{escape basePath}}}
    {{#if info.version}}
  , <span style="font-variant: small-caps" data-sw-translate>api version</span>: {{{escape info.version}}}
    {{/if}}]
    {{#if validatorUrl}}
    <span style="float:right"><a target="_blank" href="{{{escape validatorUrl}}}/debug?url={{{escape url}}}"><img id="validator" src="{{{escape validatorUrl}}}?url={{{escape url}}}"></a>
    </span>
    {{/if}}
    </h4>
    </div>
</div>
