<!--div class='info' id='api_info'>
  {{#if info}}
  <div class="info_title">{{info.title}}</div>
  <div class="info_description markdown">{{{info.description}}}</div>
  {{#if externalDocs}}
  <h5>More documentations</h5>
  <p>{{externalDocs.description}}</p>
  <a href="{{externalDocs.url}}" target="_blank">{{externalDocs.url}}</a>
  {{/if}}
  {{#if info.termsOfServiceUrl}}<div class="info_tos"><a href="{{info.termsOfServiceUrl}}">Terms of service</a></div>{{/if}}
  {{#if info.contact.name}}<div class='info_name'>Created by {{info.contact.name}}</div>{{/if}}
  {{#if info.contact.url}}<div class='info_url'>See more at <a href="{{info.contact.url}}">{{info.contact.url}}</a></div>{{/if}}
  {{#if info.contact.email}}<div class='info_email'><a href="mailto:{{info.contact.email}}?subject={{info.title}}">Contact the developer</a></div>{{/if}}
  {{#if info.license}}<div class='info_license'><a href='{{info.license.url}}'>{{info.license.name}}</a></div>{{/if}}
  {{/if}}
</div-->
<div id="swagger_sidebar">
    <div class="sticky-nav-placeholder" style="min-height: 43px;">
        <div class="sticky-nav fixed">
            <div class="mobile-nav">
                <span class="select-label">API Reference: </span><span data-selected-value="">Get all clients</span>
            </div>

            <div class="token-generator hide">
                <span data-close="" class="icon-budicon-471"></span>
                <label for="input-api-token">Token generator</label>
                <input type="text" autocorrect="off" readonly="readonly" class="form-control"
                       id="input-api-token" placeholder="Login and add scopes to get a token">
                <a class="tg-link" data-toggle="modal" data-target="#credentials-modal">API
                    Key/Secret</a>
                <a id="open-jwt-io" class="hide tg-link" target="_blank">Debug in jwt.io</a>

                <div class="scope-selector">
                    <label for="scopes">Scopes</label>

                    <div data-scope-list=""></div>
                    <div class="area controls">
                        <div class="custom-select">
                            <span data-select-value="">entity</span>
                            <select name="entity" data-entity="">
                                <option value="">entity</option>
                                <option value="users">users</option>
                                <option value="users_app_metadata">users_app_metadata</option>
                                <option value="clients">clients</option>
                                <option value="client_keys">client_keys</option>
                                <option value="connections">connections</option>
                                <option value="rules">rules</option>
                                <option value="email_provider">email_provider</option>
                                <option value="tokens">tokens</option>
                                <option value="stats">stats</option>
                            </select>
                        </div>
                        <div class="custom-select disabled">
                            <span data-select-value="">action</span>
                            <select disabled="" name="action" data-action="">
                                <option value="">action</option>
                                <option value="read">read</option>
                                <option value="update">update</option>
                                <option value="delete">delete</option>
                                <option value="create">create</option>
                                <option value="blacklist">blacklist</option>
                            </select>
                        </div>
                    </div>

                    <div class="area cta">
                        <div data-add-scope="" class="btn disabled"><span
                                class="icon-budicon-519"></span></div>
                    </div>
                </div>
            </div>

            <div id="resources_nav" data-navigator="">
                <div data-resource="" label="Tools">
                    <div class="item" data-tg-switch="">Token generator <span class="status"></span>
                    </div>
                </div>
                <div class="active" data-resource="resource_clients" label="Clients">
                    <div class="item" data-endpoint="clients_get_clients" data-selected="">Get all
                        clients
                    </div>
                    <div class="item" data-endpoint="clients_post_clients">Create a client</div>
                    <div class="item" data-endpoint="clients_get_clients_by_id">Get a client</div>
                    <div class="item" data-endpoint="clients_delete_clients_by_id">Delete a client
                    </div>
                    <div class="item" data-endpoint="clients_patch_clients_by_id">Update a client
                    </div>
                </div>
                <div data-resource="resource_connections" label="Connections">
                    <div class="item" data-endpoint="connections_get_connections">Get all
                        connections
                    </div>
                    <div class="item" data-endpoint="connections_post_connections">Create a
                        connection
                    </div>
                    <div class="item" data-endpoint="connections_get_connections_by_id">Get a
                        connection
                    </div>
                    <div class="item" data-endpoint="connections_delete_connections_by_id">Delete a
                        connection
                    </div>
                    <div class="item" data-endpoint="connections_patch_connections_by_id">Update a
                        connection
                    </div>
                </div>
                <div data-resource="resource_rules" label="Rules">
                    <div class="item" data-endpoint="rules_get_rules">Get all rules</div>
                    <div class="item" data-endpoint="rules_post_rules">Create a rule</div>
                    <div class="item" data-endpoint="rules_get_rules_by_id">Get a rule</div>
                    <div class="item" data-endpoint="rules_delete_rules_by_id">Delete a rule</div>
                    <div class="item" data-endpoint="rules_patch_rules_by_id">Update a rule</div>
                </div>
                <div data-resource="resource_users" label="Users">
                    <div class="item" data-endpoint="users_get_users">List or search users</div>
                    <div class="item" data-endpoint="users_post_users">Create a user</div>
                    <div class="item" data-endpoint="users_delete_users">Delete all users</div>
                    <div class="item" data-endpoint="users_get_users_by_id">Get a user</div>
                    <div class="item" data-endpoint="users_delete_users_by_id">Delete a user</div>
                    <div class="item" data-endpoint="users_patch_users_by_id">Update a user</div>
                    <div class="item" data-endpoint="users_get_devices">Get the list of devices of
                        the user
                    </div>
                    <div class="item" data-endpoint="users_post_identities">Link a user account
                    </div>
                    <div class="item" data-endpoint="users_post_email_verification">Create an email
                        verification ticket
                    </div>
                    <div class="item" data-endpoint="users_post_password_change">Create a password
                        change ticket
                    </div>
                    <div class="item" data-endpoint="users_delete_devices_by_device_id">Unlink a
                        user's device.
                    </div>
                    <div class="item" data-endpoint="users_delete_multifactor_by_provider">Delete a
                        user's multifactor provider
                    </div>
                    <div class="item" data-endpoint="users_delete_provider_by_user_id">Unlink a user
                        account
                    </div>
                </div>
                <div data-resource="resource_blacklists" label="Blacklists">
                    <div class="item" data-endpoint="blacklists_get_tokens">Get all blacklisted
                        tokens
                    </div>
                    <div class="item" data-endpoint="blacklists_post_tokens">Blacklist a token</div>
                </div>
                <div data-resource="resource_emails" label="Emails">
                    <div class="item" data-endpoint="emails_get_provider">Get the email provider
                    </div>
                    <div class="item" data-endpoint="emails_post_provider">Configure the email
                        provider
                    </div>
                    <div class="item" data-endpoint="emails_delete_provider">Delete the email
                        provider
                    </div>
                    <div class="item" data-endpoint="emails_patch_provider">Update the email
                        provider
                    </div>
                </div>
                <div data-resource="resource_jobs" label="Jobs">
                    <div class="item" data-endpoint="jobs_get_jobs_by_id">Get a job</div>
                    <div class="item" data-endpoint="jobs_post_users_imports">Import users</div>
                    <div class="item" data-endpoint="jobs_post_verification_email">Send a "verifiy
                        email address" email
                    </div>
                </div>
                <div data-resource="resource_stats" label="Stats">
                    <div class="item" data-endpoint="stats_get_active_users">Get active users
                        count
                    </div>
                    <div class="item" data-endpoint="stats_get_daily">Get daily stats</div>
                </div>
            </div>

            <p class="changes-disclaimer">To learn the differences between API v1 and v2 refer to <a
                    href="apiv2Changes">this document</a>.</p>
        </div>
    </div>

    <div class="alert-info alert hide">
        Generate an API token by clicking on the scopes you want. When performing requests, send
        that token in the <code>Authorization</code> header like this <code>Authorization: Bearer
        eyJw...</code>
    </div>

    <form class="form-horizontal hide" role="form">
        <div class="box-info">
            <div class="row">
                <div class="col-xs-10">
                </div>
                <div class="col-xs-2 no-padding">
                    <button style="width:82%;" type="button" id="copy-token-button"
                            class="btn copy-btn" data-clipboard-target="input-api-token">
                        <i class="icon-budicon-669"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <small>
                        <label id="label-api-token-id" class="label-bottom-info">Token ID:
                            None</label>
                    </small>
                </div>
                <div class="col-xs-3">
                    <small></small>
                </div>
            </div>
        </div>
    </form>
</div>

<div id='resources_container'>
  <ul id='resources'></ul>

  <!--div class="footer">
    <br>
    <br>
    <h4 style="color: #999">[ <span style="font-variant: small-caps">base url</span>: {{basePath}}
    {{#if info.version}}
    , <span style="font-variant: small-caps">api version</span>: {{info.version}}
    {{/if}}]
    {{#if validatorUrl}}
    <span style="float:right"><a href="{{validatorUrl}}/debug?url={{url}}"><img id="validator" src="{{validatorUrl}}?url={{url}}"></a>
    </span>
    {{/if}}
    </h4>
    </div-->
</div>
