
<div class='object'>
    {{#unless isRoot}}<span class='document-name'>{{name}}</span>:{{/unless}} {
    <span class='document-type'>{{dataType}}</span>
    <span class='object-undefined' id="{{id}}-undefined">x</span>
</div>
<div class='object-inner' id="{{id}}"></div>
<input class='property' type='hidden' name="{{path}}." value="dummy"/>
<div>},</div>
