<ul class='operations'>
    <li class='{{method}} operation' id='{{parentId}}_{{nickname}}'>
        <div class='content'>
            <div class='heading'>
                <h2 class='operation-title'>{{summary}}</h2>

                <h3>
                    <span class='http_method'>
                        <a href='#!/{{encodedParentId}}/{{nickname}}'>{{method}}</a>
                    </span>
                    <span class='path'>
                        <a href='#!/{{encodedParentId}}/{{nickname}}'
                           class="{{#if deprecated}}deprecated{{/if}}">{{path}}</a>
                    </span>
                </h3>
            </div>

            <a href="javascript:;" class="toggle-samples" data-toggle="tooltip" data-placement="left"
               data-original-title title>
                <span class="text">Show samples</span><span class="circle-icon"></span>
            </a>

            {{#if deprecated}}
                <h4>Warning: Deprecated</h4>
            {{/if}}
            {{#if description}}
                <div class="markdown action-summary">{{{description}}}</div>
            {{/if}}


            <form accept-charset="UTF-8" class="sandbox">

                {{#if parameters}}
                    <h4 data-control data-parm-toggle data-toggle="collapse"
                        data-target="#parm-{{parentId}}_{{nickname}}">
                        Parameters
                    </h4>

                    <div data-content class="operation-params collapse in" id="parm-{{parentId}}_{{nickname}}">
                    </div>

                {{/if}}

                <h4 data-control data-toggle="collapse" data-target="#test-{{parentId}}_{{nickname}}">
                    Test this endpoint
                </h4>

                <div id="test-{{parentId}}_{{nickname}}">
                    <div class="sandbox_header collapse in" data-content>
                        <input class="submit btn btn-primary" name="commit" type="submit" value="Try"
                               data-target="#get_clients-modal-request">
                        <a href="#" class="response_hider hide" style="display: inline;">Hide Response</a>
                        <!--small class="curl-copy-message hide" style="display:none;">Copied to clipboard</small-->
                        <!--span class="response_throbber hide" style="display: none;"></span-->

                        {{#oauth}}
                        <div class="auth">
                        {{/oauth}}

                        {{#each oauth}}
                            <div id="api_information_panel" style="top: 526px; left: 776px; display: none;">
                                {{#each this}}
                                    <div title='{{{this.description}}}'>{{this.scope}}</div>
                                {{/each}}
                            </div>
                        {{/each}}

                        {{#oauth}}
                            <button type="button" class="api-ic ic-off btn btn-default pull-right">Oauth</button>
                        </div>
                        {{/oauth}}

                    </div>

                    {{#if type}}
                        <div class="response-content-type"/>
                    {{/if}}

                </div>

                {{#if responseMessages}}
                    <div style="margin:0;padding:0;display:inline"></div>
                    <h4 data-control data-toggle="collapse" data-target="#response-{{parentId}}_{{nickname}}">
                        Response Messages
                    </h4>

                    <div data-content class="responses-wrapper collapse in" id="response-{{parentId}}_{{nickname}}">
                        <table class="fullwidth">
                            <tbody class="operation-status">
                            </tbody>
                        </table>
                    </div>
                {{/if}}
            </form>

        </div>

        <div class="samples">
                <span class="model-signature">
                </span>
        </div>

        <div class="modal" id="modal-{{parentId}}_{{nickname}}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h3 class="modal-title">
                            {{summary}}
                            <span class="http_method">
                                <span class="text">
                                    {{method}}
                                </span>
                            </span>
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class='response'>
                            <h5>Request URL</h5>

                            <div class='block request_url'></div>
                            <h5>Response Body</h5>

                            <div class='block response_body'></div>
                            <h5>Response Code</h5>

                            <div class='block response_code'></div>
                            <h5>Response Headers</h5>

                            <div class='block response_headers'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>