
    <ul class='operations' >
      <li class='{{httpMethod}} operation' id='{{resourceName}}_{{nickname}}_{{httpMethod}}_{{number}}'>
            <div class='heading'>
                <h3>
                  <span class='http_method'>
                    <a href='#!/{{resourceName}}/{{nickname}}_{{httpMethod}}_{{number}}' class="toggleOperation">{{httpMethod}}</a>
                  </span>
                  <span class='path'>
                    <a href='#!/{{resourceName}}/{{nickname}}_{{httpMethod}}_{{number}}' class="toggleOperation">{{path}}</a>
                  </span>
                </h3>
                <ul class='options'>
                    <li>
                    <a href='#!/{{resourceName}}/{{nickname}}_{{httpMethod}}_{{number}}' class="toggleOperation">{{{summary}}}</a>
                    </li>
                </ul>
            </div>
            <div class='content' id='{{resourceName}}_{{nickname}}_{{httpMethod}}_{{number}}_content' style='display:none'>
                {{#if notes}}
                <h4>Implementation Notes</h4>
                <p>{{{notes}}}</p>
                {{/if}}
                {{#if responseClass}}
                    <h4>Response Class</h4>
                    <p><span class="model-signature" /></p>
                    <br/>
                    <div class="content-type" />
                {{/if}}
                <form accept-charset='UTF-8' class='sandbox'>
                    <div style='margin:0;padding:0;display:inline'></div>
                    {{#if parameters}}
                    <h4>Parameters</h4>
                    <table class='fullwidth'>
                        <thead>
                        <tr>
                            <th style="width: 100px; max-width: 100px" >Parameter</th>
                            <th style="width: 310px; max-width: 310px">Value</th>
                            <th style="width: 200px; max-width: 200px">Description</th>
                            <th style="width: 320px; max-width: 330px">Data Type</th>
                        </tr>
                        </thead>
                        <tbody class="operation-params">

                        </tbody>
                    </table>
                    {{/if}}
                    {{#if errorResponses}}
                    <div style='margin:0;padding:0;display:inline'></div>
                    <h4>Error Status Codes</h4>
                    <table class='fullwidth'>
                        <thead>
                        <tr>
                            <th>HTTP Status Code</th>
                            <th>Reason</th>
                        </tr>
                        </thead>
                        <tbody class="operation-status">
                        
                        </tbody>
                    </table>
                    {{/if}}
                    {{#if isReadOnly}}
                    {{else}}
                    <div class='sandbox_header'>
                        <input class='submit' name='commit' type='button' value='Try it out!' />
                        <input class='close' name='close' type='button' value='Close' />
                        <a href='#' class='response_hider' style='display:none'>Hide Response</a>
                        <img alt='Throbber' class='response_throbber' src='images/throbber.gif' style='display:none' />
                    </div>
                    {{/if}}
                </form>
                <div class='response' style='display:none'>
                    <div class='request_uril_container'>
                        <h4>Request URL</h4>
                        <div class='block request_url'>
                            <pre />
                        </div>
                    </div>
                    <div class='response_body_container'>
                        <h4>Response Body</h4>
                        <div class='block response_body'>
                            <pre />
                        </div>
                    </div>
                    <div class='response_code_container'>
                        <h4>Response Code</h4>
                        <div class='block response_code'>
                            <pre />
                        </div>
                    </div>
                    <div class='response_headers_container'>
                        <h4>Response Headers</h4>
                        <div class='block response_headers'>
                            <pre />
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
