
  <ul class='operations' >
    <li class='{{method}} operation' id='{{parentId}}_{{nickname}}'>
      <div class='heading'>
        <h3>
          <span class='http_method'>
          <a href='#!/{{encodedParentId}}/{{nickname}}' class="toggleOperation">{{method}}</a>
          </span>
          <span class='path'>
          <a href='#!/{{encodedParentId}}/{{nickname}}' class="toggleOperation {{#if deprecated}}deprecated{{/if}}">{{path}}</a>
          </span>
        </h3>
        <ul class='options'>
          <li>
          <a href='#!/{{encodedParentId}}/{{nickname}}' class="toggleOperation">{{{summary}}}</a>
          </li>
        </ul>
      </div>
      <div class='content' id='{{parentId}}_{{nickname}}_content' style='display:none'>
        {{#if deprecated}}
            <h4><anyHtmlTag data-sw-translate>Warning: Deprecated</anyHtmlTag></h4>
        {{/if}}
        {{#if description}}
        <h4><anyHtmlTag data-sw-translate>Implementation Notes</anyHtmlTag></h4>
        <div class="markdown">{{{description}}}</div>
        {{/if}}
        {{#oauth}}
        <div class="auth">
        <span class="api-ic ic-error"></span>{{/oauth}}
        {{#each oauth}}
          <div id="api_information_panel" style="top: 526px; left: 776px; display: none;">
          {{#each this}}
            <div title='{{{this.description}}}'>{{this.scope}}</div>
          {{/each}}
          </div>
        {{/each}}
        {{#oauth}}</div>{{/oauth}}
        {{#oauth}}
        <div class='access'>
          <span class="api-ic ic-off" title="click to authenticate"></span>
        </div>
        {{/oauth}}
        {{#if type}}
          <h4><anyHtmlTag data-sw-translate>Response Class</anyHtmlTag> (<anyHtmlTag data-sw-translate>Status</anyHtmlTag> {{successCode}})</h4>
          <p><span class="model-signature" /></p>
          <br/>
          <div class="response-content-type" />
        {{/if}}
        <form accept-charset='UTF-8' class='sandbox'>
          <div style='margin:0;padding:0;display:inline'></div>
          {{#if parameters}}
          <h4><anyHtmlTag data-sw-translate>Parameters</anyHtmlTag></h4>
          <table class='fullwidth'>
          <thead>
            <tr>
            <th style="width: 100px; max-width: 100px"><anyHtmlTag data-sw-translate>Parameter</anyHtmlTag></th>
            <th style="width: 310px; max-width: 310px"><anyHtmlTag data-sw-translate>Value</anyHtmlTag></th>
            <th style="width: 200px; max-width: 200px"><anyHtmlTag data-sw-translate>Description</anyHtmlTag></th>
            <th style="width: 100px; max-width: 100px"><anyHtmlTag data-sw-translate>Parameter Type</anyHtmlTag></th>
            <th style="width: 220px; max-width: 230px"><anyHtmlTag data-sw-translate>Data Type</anyHtmlTag></th>
            </tr>
          </thead>
          <tbody class="operation-params">

          </tbody>
          </table>
          {{/if}}
          {{#if responseMessages}}
          <div style='margin:0;padding:0;display:inline'></div>
          <h4><anyHtmlTag data-sw-translate>Response Messages</anyHtmlTag></h4>
          <table class='fullwidth'>
            <thead>
            <tr>
              <th><anyHtmlTag data-sw-translate>HTTP Status Code</anyHtmlTag></th>
              <th><anyHtmlTag data-sw-translate>Reason</anyHtmlTag></th>
              <th><anyHtmlTag data-sw-translate>Response Model</anyHtmlTag></th>
              <th><anyHtmlTag data-sw-translate>Headers</anyHtmlTag></th>
            </tr>
            </thead>
            <tbody class="operation-status">

            </tbody>
          </table>
          {{/if}}
          {{#if isReadOnly}}
          {{else}}
          <div class='sandbox_header'>
            <input class='submit' type='button' value='Try it out!' />
            <a href='#' class='response_hider' style='display:none'><anyHtmlTag data-sw-translate>Hide Response</anyHtmlTag></a>
            <span class='response_throbber' style='display:none'></span>
          </div>
          {{/if}}
        </form>
        <div class='response' style='display:none'>
          <h4><anyHtmlTag data-sw-translate>Request URL</anyHtmlTag></h4>
          <div class='block request_url'></div>
          <h4><anyHtmlTag data-sw-translate>Response Body</anyHtmlTag></h4>
          <div class='block response_body'></div>
          <h4><anyHtmlTag data-sw-translate>Response Code</anyHtmlTag></h4>
          <div class='block response_code'></div>
          <h4><anyHtmlTag data-sw-translate>Response Headers</anyHtmlTag></h4>
          <div class='block response_headers'></div>
        </div>
      </div>
    </li>
  </ul>
