  <ul class='operations' >
    <li class='{{method}} operation {{#if deprecated}}deprecated{{/if}}' id='{{parentId}}_{{nickname}}_{{filter}}'>
      <div class='heading'>
        <h3>
          <span class='http_method'>
          <a href='#!/{{encodedParentId}}/{{nickname}}' class="toggleOperation">{{method}}</a>
          </span>
          <span class='path'>
          <a href='#!/{{encodedParentId}}/{{nickname}}' class="toggleOperation {{#if deprecated}}deprecated{{/if}}">{{path}}</a>
          </span>
        </h3>
        <ul class='options'>
          <li>
          <a href='#!/{{encodedParentId}}/{{nickname}}' class="toggleOperation">{{{summary}}}</a>
          </li>
        </ul>
      </div>
      <div class='content' id='{{parentId}}_{{nickname}}_content' style='display:none'>
          Loading...
      </div>
    </li>
  </ul>
