<ul class="operations">
  <li class="doc operation" id="{{name}}_doc">
    <div class="heading">
      <h3><span class="http_method"><a class="toggleOperation" href="#!/{{name}}/doc">doc</a></span><span class="path"><a class="toggleOperation" href="#!/{{name}}/doc">General Documentation</a></span></h3>
    </div>
    <div class="content" id="{{name}}_doc_content" style="display:none;">
        {{{overview}}
    </div>
  </li>
</ul>