<div class="row param-simple-query">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-12 param-code">
        <label class="code required c-input-label" for="textInput">{{name}}</label>
        <form class='query-choices'>
          <select class="param-choice c-dropdown-filter param-value" multiple="multiple" style="width: 100%" placeholder="{{{paramType}}}">
            {{#each choices.attributes.allChoices}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </form>
        {{#if isBody}}
					<p class="c-help-text">{{{paramType}}}&nbsp;<span class="model-signature"></span></p>
				{{else}}
					<p class="c-help-text">{{{paramType}}}&nbsp;<span class="data-type"></span></p>
				{{/if}}
      </div>
    </div>
  </div>
</div>
