<td class='code required'>{{name}}</td>
<td>
	{{#if defaultValue}}
	    <input class='required' minlength='1' name='{{name}}' placeholder='(required)' type='text' value='{{defaultValue}}'/>
	{{else}}
	    <input class='required' minlength='1' name='{{name}}' placeholder='(required)' type='text' value=''/>
	{{/if}}
</td>
<td width='500'>
    <strong>{{description}}</strong>
</td>
