<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-3 param-code">
        <label class="code required c-input-label" for="textInput">{{name}}</label>
        <div class="data-type">
        {{#if isBody}}
          <span class='model-signature'></span>
        {{else}}
          <span class='data-type'></span>
        {{/if}}
        </div>
      </div>
      <div class="col-sm-9">
        <label class="c-input-label">{{{paramType}}}</label>
        <form class='query-choices'>
          <select class="param-choice c-dropdown-filter param-value" multiple="multiple">
            {{#each choices.attributes.allChoices}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </form>
      </div>
    </div>
  </div>
</div>
