{{!-- Body Post Params --}}
<div class="row">
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-3">
					<label class="code c-input-label" for="textInput">{{name}}</label>
			</div>
		{{#if isBody}}
			<div class="col-sm-9">
				{{#if isFile}}
					<label class="code c-input-label" for="textInput">{{name}}</label>
				{{else}}
					{{#if defaultValue}}
						<textarea class='c-input-textarea body-textarea param-value' name='{{name}}'>{{defaultValue}}</textarea>
					{{else}}
						<textarea class='c-input-textarea body-textarea param-value' name='{{name}}'></textarea>
					{{/if}}
						<div class="parameter-content-type"></div>
				{{/if}}
			</div>
		{{else}}
			<div class="col-sm-9">
				{{#if defaultValue}}
					<input class="c-input-text parameter param-value" minlength='0' name='{{name}}' placeholder='' type='text' value='{{defaultValue}}'/>
				{{else}}
					<input class="c-input-text parameter param-value" minlength='0' name='{{name}}' placeholder='' type='text' value=''/>
				{{/if}}
			</div>
		{{/if}}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 model">
		{{#if isBody}}
			<span class='model-signature'></span>
		{{else}}
			<span class='data-type'></span>
		{{/if}}
	</div>
</div>