<div class="row">
	<div class="col-sm-6">
		<div class="row param-required">
  		<div class="col-sm-12">
		    <label class="code required c-input-label" for="textInput">{{{description}}}</label>
				{{#if isBody}}
					{{#if isFile}}
						<input type="file" name="{{name}}"/>
					{{else}}
						{{#if defaultValue}}
							<textarea class="c-input-textarea body-textarea param-value" placeholder="(required)" name="{{name}}">{{defaultValue}}</textarea>
						{{else}}
							<textarea class="c-input-textarea body-textarea param-value" placeholder="(required)" name="{{name}}"></textarea>
							<br />
							<div class="parameter-content-type" />
						{{/if}}
					{{/if}}
				{{else}}
					{{#if isFile}}
						<input class="parameter param-value" class="required" type="file" name="{{name}}"/>
					{{else}}
						{{#if defaultValue}}
							<input class="c-input-field parameter required param-value" minlength="1" name="{{name}}" placeholder="{{{name}}}" type="text" value="{{defaultValue}}"/>
						{{else}}
							<input class="c-input-field parameter required param-value" minlength="1" name="{{name}}" placeholder="{{{name}}}" type="text" value=""/>
						{{/if}}
					{{/if}}
				{{/if}}
				{{#if isBody}}
					<p class="c-help-text">{{{paramType}}}&nbsp;<span class="model-signature"></span></p>
				{{else}}
					<p class="c-help-text">{{{paramType}}}&nbsp;<span class="data-type"></span></p>
				{{/if}}
			</div>
		</div>
	</div>
</div>
