<div class="row">
  <div class="col-sm-10">
    <label class="code c-input-label" for="textInput">{{name}}</label>
    <input class="c-input-field t-item-name" type="text" id="textInput" />
  </div>
</div>
<div class="row">
  <div class="col-sm-10">
    <select {{#isArray this}} multiple='multiple'{{/isArray}} class='parameter param-value' name='{{name}}'>
      {{#if required}}
      {{else}}
        {{#if defaultValue}}
        {{else}}
          {{#isArray this}}
          {{else}}
            <option selected="" value=''></option>
          {{/isArray}}
        {{/if}}
      {{/if}}
      {{#each allowableValues.descriptiveValues}}
        {{#if isDefault}}
          <option selected="" value='{{value}}'>{{value}} (default)</option>
        {{else}}
          <option value='{{value}}'>{{value}}</option>
        {{/if}}
      {{/each}}
    </select>
  </div>
</div>
<div class="row">
  <div class="col-sm-10">
    <p>{{{description}}}</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-10">
    <p>{{{paramType}}}</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-10">
    {{#if isBody}}
      <span class="model-signature"></span>
    {{else}}
      <span class="data-type"></span>
    {{/if}}
  </div>
</div>

{{!--
<td class='code'>{{name}}</td>
<td>
  <select {{#isArray this}} multiple='multiple'{{/isArray}} class='parameter' name='{{name}}'>
    {{#if required}}
    {{else}}
      {{#if defaultValue}}
      {{else}}
        {{#isArray this}}
        {{else}}
          <option selected="" value=''></option>
        {{/isArray}}
      {{/if}}
    {{/if}}
    {{#each allowableValues.descriptiveValues}}
      {{#if isDefault}}
        <option selected="" value='{{value}}'>{{value}} (default)</option>
      {{else}}
        <option value='{{value}}'>{{value}}</option>
      {{/if}}
    {{/each}}
  </select>
</td>
<td>{{{description}}}</td>
<td>{{{paramType}}}</td>
<td>
  {{#if isBody}}
    <span class="model-signature"></span>
  {{else}}
    <span class="data-type"></span>
  {{/if}}
</td>
--}}