<div class="row">
  <div class="col-sm-10">
    <label class="code required c-input-label" for="textInput">{{name}}</label>
    <input class='c-input-text parameter' minlength='0' name='{{name}}' placeholder='' type='text' disabled/>
  </div>
</div>
	<form class='query-choices'></form>
<div class="row">
  <div class="col-sm-10">
    {{{description}}}
  </div>
</div>
<div class="row">
  <div class="col-sm-10">
    {{{paramType}}}
  </div>
</div>
<div class="row">
  <div class="col-sm-10">
	{{#if isBody}}
		<span class='model-signature'></span>
	{{else}}
		<span class='data-type'></span>
	{{/if}}
  </div>
</div>