<td class='code required'>{{name}}</td>
<td>
	{{#if defaultValue}}
	    <input class='required' minlength='1' name='{{name}}' placeholder='(required)' type='text' value='{{defaultValue}}'/>
	{{else}}
	    <input class='required' minlength='1' name='{{name}}' placeholder='(required)' type='text' value=''/>
	{{/if}}
</td>
<td>
    <strong>{{{description}}}</strong>
</td>
<td><span class="model-signature">{{{signature}}}</span></td>