<td class='code required'><label for='{{{escape valueId}}}'>{{{escape name}}}</label></td>
<td>
	{{#if isBody}}
		{{#if isFile}}
			<input type="file" name='{{{escape name}}}' id='{{{escape valueId}}}'/>
		{{else}}
			{{#if default}}
				<div class="editor_holder"></div>
				<textarea class='body-textarea required' placeholder='(required)' name='{{{sanitize name}}}' id="{{{escape valueId}}}">{{{sanitize default}}}</textarea>
        <br />
        <div class="parameter-content-type" />
			{{else}}
				<textarea class='body-textarea required' placeholder='(required)' name='{{{sanitize name}}}' id='{{{escape valueId}}}'></textarea>
				<div class="editor_holder"></div>
				<br />
				<div class="parameter-content-type" />
			{{/if}}
		{{/if}}
	{{else}}
		{{#if isFile}}
			<input class='parameter required' type='file' name='{{{sanitize name}}}' id='{{{escape valueId}}}'/>
		{{else}}
			{{#renderTextParam this}}
			{{/renderTextParam}}
		{{/if}}
	{{/if}}
</td>
<td>
	<strong><span class="markdown">{{{sanitize description}}}</span></strong>
</td>
<td>{{{escape paramType}}}</td>
<td><span class="model-signature"></span></td>
