<div class="param-property hide" data-label="name">{{name}}</div>
<div class="param-property" data-label='{{name}}'>
    {{#if isBody}}
        {{#if isFile}}
            <input type="file" name='{{name}}'/>

            <div class="parameter-content-type"/>
        {{else}}
            {{#if default}}
                <textarea class='body-textarea form-control' name='{{name}}'>{{default}}</textarea>
                <br/>

                <div class="parameter-content-type"/>
            {{else}}
                <textarea class='body-textarea form-control' name='{{name}}'></textarea>
                <br/>

                <div class="parameter-content-type"/>
            {{/if}}
        {{/if}}
        <div class="small-description">
            <code>{{type}}</code>  {{description}}
        </div>
    {{else}}
        {{#if isFile}}

            <label class="btn btn-primary" for="my-file-selector">
                <input id="my-file-selector" type="file" style="display:none;" name='{{name}}'>
                Choose file
            </label>
            <!--input type="file" name='{{name}}'/-->

            <div class="parameter-content-type"/>
        {{else}}
            {{#if default}}
                <input class='parameter form-control' minlength='0' name='{{name}}' placeholder='' type='text'
                       value='{{default}}'/>
            {{else}}
                <input class='parameter form-control' minlength='0' name='{{name}}' placeholder='' type='text' value=''/>
            {{/if}}
        {{/if}}
        <div class="small-description">
            <code>{{type}}</code>  {{description}}
        </div>
    {{/if}}
</div>
