<td class='code required'>{{name}}</td>
<td>
	{{#if isBody}}
		{{#if isFile}}
			<input type="file" name='{{name}}'/>
		{{else}}
			{{#if defaultValue}}
				<textarea class='body-textarea' placeholder='(required)' name='{{name}}'>{{defaultValue}}</textarea>
			{{else}}
			    <textarea class='body-textarea' placeholder='(required)' name='{{name}}'></textarea>
			{{/if}}
		{{/if}}
	{{else}}
		{{#if isFile}}
			<input class='required' type='file' name='{{name}}'/>
		{{else}}
			{{#if defaultValue}}
			    <input class='required' minlength='1' name='{{name}}' placeholder='(required)' type='text' value='{{defaultValue}}'/>
			{{else}}
			    <input class='required' minlength='1' name='{{name}}' placeholder='(required)' type='text' value=''/>
			{{/if}}
		{{/if}}
	{{/if}}
</td>
<td width='500'>
    <strong>{{description}}</strong>
</td>
