<td class='code required'>{{name}}</td>
<td>
	{{#if isBody}}
		{{#if isFile}}
			<input type="file" name='{{name}}'/>
		{{else}}
			{{#if default}}
				<textarea class='body-textarea required' placeholder='(required)' name='{{name}}'>{{default}}</textarea>
        <br />
        <div class="parameter-content-type" />
			{{else}}
				<textarea class='body-textarea required' placeholder='(required)' name='{{name}}'></textarea>
				<br />
				<div class="parameter-content-type" />
			{{/if}}
		{{/if}}
	{{else}}
		{{#if isFile}}
			<input class='parameter' class='required' type='file' name='{{name}}'/>
		{{else}}
			{{#renderTextParam this}}
			{{/renderTextParam}}
		{{/if}}
	{{/if}}
</td>
<td>
	<strong><span class="markdown">{{{description}}}</span></strong>
</td>
<td>{{{paramType}}}</td>
<td><span class="model-signature"></span></td>
