<td class='code'>{{name}}</td>
<td>

	{{#if isBody}}
		{{#if isFile}}
			<input type="file" name='{{name}}'/>
			<div class="parameter-content-type" />
		{{else}}
			{{#if defaultValue}}
				<textarea class='body-textarea' name='{{name}}'>{{defaultValue}}</textarea>
			{{else}}
				<textarea class='body-textarea' name='{{name}}'></textarea>
				<br />
				<div class="parameter-content-type" />
			{{/if}}
		{{/if}}
	{{else}}
		{{#if defaultValue}}
			<input class='parameter' minlength='0' name='{{name}}' placeholder='' type='text' value='{{defaultValue}}'/>
		{{else}}
			<input class='parameter' minlength='0' name='{{name}}' placeholder='' type='text' value=''/>
		{{/if}}
	{{/if}}

</td>
<td>{{{description}}}</td>
<td>{{{paramType}}}</td>
<td>
	<span class="model-signature"></span>
</td>
