<button disabled type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<span>Expand:</span>
<select class="param-choice">
	{{#if currentValue}}
		<option selected value="{{currentValue}}">{{currentValue}}</option>
	{{else}}
		<option disabled selected> -- select an option -- </option>
	{{/if}}
	{{#each availableChoices}}
		<option value="{{this}}">{{this}}</option>
	{{/each}}
</select>
<br>
