<td class='code'>{{name}}</td>
<td>
    {{#if isBody}}
        <textarea class='body-textarea' readonly='readonly' name='{{name}}'>{{defaultValue}}</textarea>
    {{else}}
        {{defaultValue}}
    {{/if}}
</td>
<td>{{{description}}}</td>
<td><span class="model-signature">{{{signature}}}</span></td>
