{{#if required}}
<td class='code required'>{{name}}</td>
{{else}}
<td class='code'>{{name}}</td>
{{/if}}
<td>
  <select {{#isArray this}} multiple='multiple'{{/isArray}} class={{#if required}}'parameter required'{{else}}'parameter'{{/if}} name='{{name}}'>
    {{#if required}}
    {{else}}
      {{#if default}}
      {{else}}
        {{#isArray this}}
        {{else}}
          <option selected="" value=''></option>
        {{/isArray}}
      {{/if}}
    {{/if}}
    {{#each allowableValues.descriptiveValues}}
      {{#if isDefault}}
        <option selected="" value='{{value}}'>{{value}} (default)</option>
      {{else}}
        <option value='{{value}}'>{{value}}</option>
      {{/if}}
    {{/each}}
  </select>
</td>
<td class="markdown">{{#if required}}<strong>{{/if}}{{{description}}}{{#if required}}</strong>{{/if}}</td>
<td>{{{paramType}}}</td>
<td><span class="model-signature"></span></td>
