<td class='code'>{{name}}</td>
<td>
  <select {{#isArray this}} multiple='multiple'{{/isArray}} class='parameter' name='{{name}}'>
    {{#if required}}
    {{else}}
      {{#if defaultValue}}
      {{else}}
        {{#isArray this}}
        {{else}}
          <option selected="" value=''></option>
        {{/isArray}}
      {{/if}}
    {{/if}}
    {{#each allowableValues.descriptiveValues}}
      {{#if isDefault}}
        <option selected="" value='{{value}}'>{{value}} (default)</option>
      {{else}}
        <option value='{{value}}'>{{value}}</option>
      {{/if}}
    {{/each}}
  </select>
</td>
<td>{{{description}}}</td>
<td>{{{paramType}}}</td>
<td><span class="model-signature"></span></td>