<select class="param-choice c-dropdown-filter" multiple="multiple">
	{{#if currentValue}}
		<option selected value="{{currentValue}}">{{currentValue}}</option>
	{{else}}
	{{/if}}
	{{#each unexpandedFields}}
		<option value="{{this}}">{{this}}</option>
	{{/each}}
</select>
