<input type='checkbox' class='filter-checkbox' name='queryparamchoice' value='{{name}}'>
<label for='{{name}}'>{{name}}</label>

<select class='{{name}}-filter-operator'>
	<option value='=='>==</option>
	<option value='!='>!=</option>
	<option value='>'>&gt;</option>
	<option value='<'>&lt;</option>
	<option value='>='>&gt;=</option>
	<option value='<='>&lt;=</option>
</select>

<input class='{{name}}-filter-argument'>

<br>