<td class='code required'><label for='{{{escape valueId}}}'>{{{sanitize name}}}</label></td>
<td>
    {{#if isBody}}
        <textarea class='body-textarea' readonly='readonly' placeholder='(required)' name='{{{sanitize name}}}' id='{{{escape valueId}}}'>{{{sanitize default}}}</textarea>
    {{else}}
        {{#if default}}
            {{{sanitize default}}}
        {{else}}
            (empty)
        {{/if}}
    {{/if}}
</td>
<td class="markdown">{{{sanitize description}}}</td>
<td>{{{escape paramType}}}</td>
<td><span class="model-signature"></span></td>
