<td class='code required'>{{name}}</td>
<td>
	{{#if isBody}}
		{{#if isFile}}
			<input type="file" name='{{name}}'/>
		{{else}}
			{{#if defaultValue}}
				<textarea class='c-input-textarea body-textarea' placeholder='(required)' name='{{name}}'>{{defaultValue}}</textarea>
			{{else}}
				<textarea class='c-input-textarea body-textarea' placeholder='(required)' name='{{name}}'></textarea>
				<br />
				<div class="parameter-content-type" />
			{{/if}}
		{{/if}}
	{{else}}
		{{#if isFile}}
			<input class='parameter' class='required' type='file' name='{{name}}'/>
		{{else}}
			{{#if defaultValue}}
				<input class='c-input-field parameter required' minlength='1' name='{{name}}' placeholder='(required)' type='text' value='{{defaultValue}}'/>
			{{else}}
				<input class='c-input-field parameter required' minlength='1' name='{{name}}' placeholder='(required)' type='text' value=''/>
			{{/if}}
		{{/if}}
	{{/if}}
</td>
<td>
	<strong>{{{description}}}</strong>
</td>
<td>{{{paramType}}}</td>
<td>
	{{#if isBody}}
		<span class="model-signature"></span>
	{{else}}
		<span class="data-type"></span>
	{{/if}}
</td>
