<td class='code'>{{name}}</td>
<td>
	<input class='c-input-text parameter' minlength='0' name='{{name}}' placeholder='' type='text' disabled/>
	<form class='query-choices'></form>
</td>
<td>
	{{{description}}}
</td>
<td>{{{paramType}}}</td>
<td>
	{{#if isBody}}
		<span class='model-signature'></span>
	{{else}}
		<span class='data-type'></span>
	{{/if}}
</td>
