<td class='code'>{{name}}</td>
<td>

	{{#if defaultValue}}
		<input minlength='0' name='{{name}}' placeholder='' type='text' value='{{defaultValue}}'/>
	{{else}}
	    <input minlength='0' name='{{name}}' placeholder='' type='text' value=''/>
	{{/if}}

</td>
<td>{{{description}}}</td>
<td>
    <span class="model-signature">{{{signature}}}</span>
</td>

