<td class='code{{#if required}} required{{/if}}'><label for='{{{escape valueId}}}'>{{{sanitize name}}}</label></td>
<td>
  <select {{#isArray this}} multiple="multiple"{{/isArray}} class="parameter {{#if required}} required {{/if}}" name="{{{sanitize name}}}" id="{{{escape valueId}}}">

    {{#unless required}}
      <option {{#unless hasDefault}}  selected="" {{/unless}} value=''></option>
    {{/unless}}

    {{#each allowableValues.descriptiveValues}}

      <option {{#if isDefault}} selected=""  {{/if}}  value='{{{sanitize value}}}'> {{{sanitize value}}} {{#if isDefault}} (default) {{/if}} </option>

    {{/each}}

  </select>
</td>
<td class="markdown">{{#if required}}<strong>{{/if}}{{{description}}}{{#if required}}</strong>{{/if}}</td>
<td>{{{escape paramType}}}</td>
<td><span class="model-signature"></span></td>
