<div class="param-property hide" data-label="name">{{name}}</div>
<div class="param-property" data-label='{{name}}'>
    <div>
        {{#if isBody}}
            <textarea class='body-textarea form-control' readonly='readonly' placeholder='(required)' name='{{name}}'  data-toggle="tooltip" data-placement="top" title="" data-original-title='{{name}}'>{{default}}</textarea>
            <div class="parameter-content-type"/>
        {{else}}
            {{#if default}}
                {{default}}
            {{else}}
                (empty)
            {{/if}}
        {{/if}}
        <div class="small-description">
            {{#if type}}
                <code class="code-signature">{{type}}</code>
            {{/if}}
            <div class="markdown">{{description}}</div>
        </div>
    </div>
</div>
