<div class='heading'>
  <h2>
    <a href='#!/{{id}}' onclick="Docs.toggleEndpointListForResource('{{id}}');">{{name}}</a> {{#description}} : {{/description}}{{{description}}}
  </h2>
  <ul class='options'>
    <li>
      <a href='#!/{{id}}' id='endpointListTogger_{{id}}'
         onclick="Docs.toggleEndpointListForResource('{{id}}');">Show/Hide</a>
    </li>
    <li>
      <a href='#' onclick="Docs.collapseOperationsForResource('{{id}}'); return false;">
        List Operations
      </a>
    </li>
    <li>
      <a href='#' onclick="Docs.expandOperationsForResource('{{id}}'); return false;">
        Expand Operations
      </a>
    </li>
    <li>
      <a href='{{url}}'>Raw</a>
    </li>
  </ul>
</div>
<ul class='endpoints' id='{{id}}_endpoint_list' style='display:none'>

</ul>
