<div class='heading'>
  <h2>
    <a href='#!/{{id}}' class="toggleEndpointList" data-id="{{id}}">{{name}}</a> {{#description}} : {{/description}}{{{description}}}
  </h2>
  <ul class='options'>
    <li>
      <a href='#!/{{id}}' id='endpointListTogger_{{id}}' class="toggleEndpointList" data-id="{{id}}">Show/Hide</a>
    </li>
    <li>
      <a href='#' class="collapseResource" data-id="{{id}}">
        List Operations
      </a>
    </li>
    <li>
      <a href='#' class="expandResource" data-id={{id}}>
        Expand Operations
      </a>
    </li>
    <li>
      <a href='{{url}}'>Raw</a>
    </li>
  </ul>
</div>
<ul class='endpoints' id='{{id}}_endpoint_list' style='display:none'>

</ul>
