<div class='heading'>
  <div class="container">
    <h2>
      <button data-href='#!/{{id}}' class="toggleEndpointList code link-button" data-id="{{id}}">/{{name}}/ </button>
    </h2>
    <ul class='options'>
      <li>
        <button data-href='#!/{{id}}' id='endpointListTogger_{{id}}' class="toggleEndpointList link-button" data-id="{{id}}">Show/Hide</button>
      </li>
      <li>
        <a href='#' class="collapseResource" data-id="{{id}}">
          List Operations
        </a>
      </li>
      <li>
        <a href='#' class="expandResource" data-id="{{id}}">
          Expand Operations
        </a>
      </li>
      {{#if url}}
      <li>
        <a href='{{url}}'>Raw</a>
      </li>
      {{/if}}
    </ul>
  </div>
</div>

<div class="container">
  <div class="resource-intro">
    <p class="markdown">
        {{description}}
    </p>
  </div>
  <ul class='endpoints' id='{{id}}_endpoint_list'>
    <li class="endpoints-heading"><h4>Operations</h4></li>
  </ul>
</div>