<!--div class='heading'>
  <h2>
    <a href='#!/{{id}}' class="toggleEndpointList" data-id="{{id}}">{{name}}</a> {{#summary}} : {{/summary}}{{{summary}}}
  </h2>
</div-->
<ul class='endpoints' id='{{id}}_endpoint_list'>

</ul>
