<div class='heading'>
    <h2>
        <a href='#!/{{name}}' onclick="Docs.toggleEndpointListForResource('{{name}}');">/{{name}}</a>
    </h2>
    <ul class='options'>
        <li>
            <a href='#!/{{name}}' id='endpointListTogger_{{name}}'
               onclick="Docs.toggleEndpointListForResource('{{name}}');">Show/Hide</a>
        </li>
        <li>
            <a href='#' onclick="Docs.collapseOperationsForResource('{{name}}'); return false;">
                List Operations
            </a>
        </li>
        <li>
            <a href='#' onclick="Docs.expandOperationsForResource('{{name}}'); return false;">
                Expand Operations
            </a>
        </li>
        <li>
            <a href='{{url}}'>Raw</a>
        </li>
    </ul>
</div>
<ul class='endpoints' id='{{name}}_endpoint_list' style='display:none'>

</ul>
