<div class='heading'>
  <h2>
    <a href='#!/{{id}}' onclick="Docs.toggleContentForResource('{{id}}');">{{name}} {{#description}} : {{/description}}{{{join description}}}</a>
  </h2>
  <ul class='options'>
    <li>
      <a href='#!/{{id}}' id='endpointListTogger_{{id}}'
         onclick="Docs.toggleContentForResource('{{id}}');">Show/Hide</a>
    </li>
    <li>
      <a href='#' onclick="Docs.collapseOperationsForResource('{{id}}'); return false;">
        List Operations
      </a>
    </li>
    <li>
      <a href='#' onclick="Docs.expandOperationsForResource('{{id}}'); return false;">
        Expand Operations
      </a>
    </li>
    <li>
      <a href='{{url}}'>Raw</a>
    </li>
  </ul>
</div>
<div class='resourceContent' style='display:none'>
  <div class='basePaths' style='display:none'>
    <h4>Base Paths</h4>
    <table class="fullwidth">
      <thead>
        <tr>
          <th style="width: 20%">Environment</th>
          <th style="width: 80%">Base Path</th>
        </tr>
      </thead>
      <tbody class="basePath-Values" id='{{id}}_basePath_container'>

      </tbody>
    </table>
  </div>
  <ul class='endpoints' id='{{id}}_endpoint_list'>

  </ul>
</div>