<div class='heading'>
  <h2>
    <a href='#!/{{{sanitize encodedParentId}}}' class="toggleEndpointList" data-id="{{{sanitize encodedParentId}}}">{{{sanitize name}}}</a> {{#summary}} : {{/summary}}{{{sanitize summary}}}
  </h2>
  <ul class='options'>
    <li>
      <a href='#!/{{{sanitize encodedParentId}}}' id='endpointListTogger_{{{sanitize encodedParentId}}}' class="toggleEndpointList" data-id="{{{sanitize encodedParentId}}}" data-sw-translate>Show/Hide</a>
    </li>
    <li>
      <a href='#' class="collapseResource" data-id="{{{sanitize encodedParentId}}}" data-sw-translate>
        List Operations
      </a>
    </li>
    <li>
      <a href='#' class="expandResource" data-id="{{{sanitize encodedParentId}}}" data-sw-translate>
        Expand Operations
      </a>
    </li>
    {{#if url}}
    <li>
      <a href='{{{sanitize url}}}' data-sw-translate>Raw</a>
    </li>
    {{/if}}
  </ul>
</div>
<ul class='endpoints' id='{{{sanitize encodedParentId}}}_endpoint_list' style='display:none'>

</ul>
