{{#if nmbr}}
    <div data-resource="resource_{{name}}" label="{{name}}">
        <div class="resource_navitems"/>
    </div>
{{else}}
    <div class="active" data-resource="resource_{{name}}" label="{{name}}">
        <div class="resource_navitems"/>
    </div>
{{/if}}
