<h4 class="sample-title" data-control data-toggle="collapse"
    data-target="#sample-{{id}}">{{type}} Sample</h4>
<div data-content class="collapse in" id="sample-{{id}}">
    <div class="snippet">
        <pre><code>{{sampleJSON}}</code></pre>
    </div>
</div>

<h4 class="schema-title collapsed" data-control data-toggle="collapse"
    data-target="#schema-{{id}}">{{type}} Schema</h4>
<div data-content class="collapse" id="schema-{{id}}">
    <div class="description">
        {{{signature}}}
    </div>
</div>

<!--div>
    <span class="propLabels">
        <span class="propName propOpt">name</span>
        <span class="propType" title="integer">string</span>
        <span class="propOptKey">(optional)</span>
    </span>
    <span class="propDesc">The name of the client</span>
</div>


<div>
    <span class="propName false">id</span>
    (<span class="propType">integer</span>,
    <span class="propOptKey">optional</span>),
</div-->

