<div>
<ul class="signature-nav">
    <li>{{{modelLabel}}}</li>
    <li><a class="description-link" href="#!/{{parentId}}/{{nickname}}/{{modelAnchor}}" id="{{parentId}}_{{nickname}}_{{modelAnchor}}">Model</a></li>
    <li><a class="snippet-link">Sample</a></li>
</ul>
<div>

<div class="signature-container">
    <div class="description">
        {{{signature}}}
    </div>

    <div class="snippet">
        <pre><code>{{sampleJSON}}</code></pre>
        <small class="notice"></small>
    </div>
</div>

