<h4 class="sample-title" data-control data-toggle="collapse"
    data-target="#sample-{{id}}">{{type}} Sample</h4>
<div data-content class="collapse in" id="sample-{{id}}">
    <div class="snippet">
        <pre><code>{{sampleJSON}}</code></pre>
    </div>
</div>

{{#if signature}}
    <h4 class="schema-title collapsed" data-control data-toggle="collapse"
        data-target="#schema-{{id}}">{{type}} Schema</h4>
    <div data-content class="collapse" id="schema-{{id}}">
        <div class="description">
            {{{signature}}}
        </div>
    </div>
{{/if}}
