<td width='15%' class='code'>{{{escape code}}}</td>
<td class="markdown">{{{escape message}}}</td>
<td width='50%'><span class="model-signature" /></td>
<td class="headers">
  <table>
    <tbody>
      {{#each headers}}
      <tr>
        <td>{{@key}}</td>
        <td>{{{sanitize this.description}}}</td>
        <td>{{{escape this.type}}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</td>