!!!
%html
  %head
    %meta{:charset => "utf-8"}
    / Always force latest IE rendering engine (even in intranet) and Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
  
    %title Swagger API Explorer
    
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/smoothness/jquery-ui.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "stylesheets/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}

    %script{:src => "javascripts/app.js", :type => "text/javascript"}
    %script{:src => "javascripts/swagger-service.js", :type => "text/javascript"}
    %script{:src => "javascripts/swagger-ui.js", :type => "text/javascript"}
    
  %body
    
    #header
      = link_to("swagger", "http://swagger.wordnik.com", :id => "logo")
      
      %form#api_selector
        .input= text_field_tag :baseUrl, :placeholder => "http://example.com/api", :id => 'input_baseUrl'
        .input= text_field_tag :apiKey, :placeholder => "api_key", :id => 'input_apiKey'
        .input= link_to('Explore', "#", :id => "explore")
  
    = yield
    
    #content_message
      Enter the base URL of the API that you wish to explore, or try 
      = link_to("petstore.swagger.wordnik.com/api", "#", :onclick => "$('#input_baseUrl').val('http://petstore.swagger.wordnik.com/api'); apiSelectionController.showApi(); return false;")
    
    %p#colophon{:style => 'display:none'}
      Sexy API documentation from
      = link_to("Swagger", "http://swagger.wordnik.com") + "."
