!!!
%html
  %head

    %meta{:charset => "utf-8"}
    / Always force latest IE rendering engine (even in intranet) and Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
  
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  
    %title Swagger API Explorer
    
    = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/smoothness/jquery-ui.css'
    = stylesheet_link_tag "screen.css"

    = javascript_include_tag 'app'    
    = javascript_include_tag 'swagger-service'
    = javascript_include_tag 'swagger-ui'
    
  %body
    = yield